script(src="libs/jquery.min.js")




//- the bootstrap stuff
script(src="libs/bootstrap.min.js")
script(src="libs/popper.min.js")



//- custom scripts:
script(src="libs/js/sGuru-app-lunch-bundil.min.js")