$mdc-theme-primary: #1FDB84;
$mdc-theme-secondary: #313A5A;

$baseColor: white ;
$theme-bg:#F8F9FC ;

$mdc-text-color:rgba(72, 69, 69, 0.83);

$btn-primary-ripple-color : white ;

$text-secondary-dark : #F57C00 ;