section.mdc-theme--secondary-bg.saparate
    .container
        .row
            .col-1

            .col-10
                .contaienr#MainHeader.p-2.mdc-theme--on-secondary
                    .row
                        .col-8
                            h3 Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis expedita facilis ex eum nulla rem?
                            p 
                                em Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio accusamus vel quisquam, facere facilis, ab atque voluptates itaque ut perspiciatis unde sequi sed, beatae debitis?
                            .btn-primary.btns Download 
                        .col-8

            .col-1
    
