section.mdc-theme--secondary-bg
    .container
        .row
            .col-1

            .col-10
                .contaienr#navBar.p-2
                    .row
                        .col-2
                            h3 sGuru
                        .col-7.p-2
                            ul.inline
                                li 
                                    .btn-secondary-dark.btns home
                                li 
                                    .btn-secondary-dark.btns about
                                li 
                                    .btn-secondary-dark.btns contact
                                li 
                                    .btn-secondary-dark.btns donate
                                li 
                                    .btn-secondary-dark.btns join
                        .col-3.p-2
                            ul.inline
                                li  
                                    .btn-secondary-dark.btns login

                                li
                                    .btn-primary.btns register
            .col-1
    
